.*
*
!.gitignore
!.gitattributes
!.editorconfig
!README.md
!dotfiles.gif
!LICENSE
!.editorconfig
!.gitattributes
!setup.sh
!init.sh
!path.sh
!colours.sh
!prompt.sh
!aliases.sh
!functions.sh
!programs
!programs/*.sh
!hyper.js
