.*
*
!.gitignore
!.gitignoreGlobal
!.gitattributes
!.prettierignore
!.editorconfig
!.executables
!.executables/*
!.nvmrc
!README.md
!dotfiles.gif
!LICENSE
!setup.sh
!init.sh
!pudding.sh
!Functions
!Functions/*.sh
!General
!General/*.sh
!Programs
!Programs/*.sh
!.scripts
!.scripts/*.js
!.scripts/*.sh
!.templates
!.templates/*
.templates/.*
!package.json

*.DS_Store
*_dev
*_prod
