.*
*
!.gitignore
!.gitattributes
!.editorconfig
!README.md
!dotfiles.gif
!LICENSE
!setup.sh
!init.sh
!pudding.sh
!General
!General/*.sh
!Programs
!Programs/*.sh

!hyper.js
!com.googlecode.iterm2.plist
